* {
  border: 0px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  min-height: 32px;
  font-weight: 900;
  /* color: #c6d0f5; */
  color: #b4befe;
}

window#waybar {
  background: transparent;
  margin-left: 20px;
}

window > box {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  /* background-color: rgba(0, 0, 0, 0.20); */
  background-color: rgba(26, 30, 46, 0.7);
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border: 4px solid rgba(0, 0, 0, 0.2); */
  /*border: 3px solid rgba(198, 208, 245, 0.3);*/
  /* border: 2.7px solid rgba(138, 173, 244, 0.5); */
}

#custom-apple {
  padding-left: 15px;
  margin-right: 10px;
  font-size: 22px;
}

#idle_inhibitor {
  padding-left: 15px;
  margin-right: 10px;
  font-size: 22px;
}

#workspaces {
  border: 0px solid #333331;
  border-radius: 5px;

  margin-left: 8px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button {
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;

  color: #dddddd;
}

#workspaces button:hover {
  background: transparent;
}

#mode {
  border: 1px solid #333331;
  border-radius: 4px;

  color: #dddddd;

  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 4px;

  padding-left: 5px;
  padding-right: 5px;
}

#clock {
  border: 0px solid #333331;
  border-radius: 4px;

  margin-top: 1px;
  margin-bottom: 1px;

  padding-left: 12px;
  padding-right: 12px;

  font-size: 15px;

  /* color: #eeeeee; */
}

#upower {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 12px;
  padding-right: 10px;
}

#network {
  font-size: 15px;
  border-left: 0px solid #333331;
  border-top: 0px solid #333331;
  border-bottom: 0px solid #333331;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 1px;
  padding-right: 7px;
}

#backlight {
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}

#pulseaudio {
  padding-left: 12px;
  padding-right: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}

#battery {
  border-right: 0px solid #333331;
  border-top: 0px solid #333331;
  border-bottom: 0px solid #333331;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 8px;
  font-size: 15px;
  /* color: #eeeeee; */
}
